@font-face {
    font-family: 'SF-regular';
    src: url("../fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
    src: url("../fonts/SFPRODISPLAYREGULAR.ttf") format("truetype");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: "SF-regular";
}

header {
    position: fixed;
    top: 0;
    z-index: 14000;
    height: 4.4rem;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(2rem);
    width: 100%;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

a {
    display: block;
    text-decoration: none;
}


.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 -1rem;

}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.714);
    padding: 0 1rem;
    transition: color .5s;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.nav-link-apple {
    width: 1.6rem;
    height: 4.4rem;
    background: url(../images/icons/apple.svg) center no-repeat;
    opacity: .7;
    transition: opacity .5s;
}

.nav-link-apple:hover,
.nav-link-search:hover,
.nav-link-bag:hover {
    opacity: 1;
}

.nav-link-search {
    width: 1.6rem;
    height: 4.4rem;
    background: url(../images/icons/search.svg) center no-repeat;
    opacity: .7;
    transition: opacity .5s;
}

.nav-link-bag {
    width: 1.4rem;
    height: 4.4rem;
    background: url(../images/icons/bag.svg) center no-repeat;
    opacity: .7;
    transition: opacity .5s;
}

/* hdfc */
.hdfc {
    height: 4.4rem;
    padding: 4.4rem 4rem 0 4rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .1rem;
    text-align: center;
}

.hdfc-link {
    display: inline-block;
    color: #66bbff;
}

.hdfc-link i {
    font-size: 1rem;
}

.hdfc-link:hover {
    border-bottom: 2px solid #66bbff;
}

/* iphone-11-pro */
.iphone-11-pro {

    background: url(../images/hero/iphone-11-pro/iphone_11_pro_large.jpg);
}



.title {
    color: white;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading {
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-sub-heading {
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price {
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}

.cta {
    text-align: center;
    margin-top: 1.8rem;

}

.cta-link {
    color: #66bbff;
    font-size: 2.1rem;
    display: inline-block;
}

.cta-link:nth-child(2) {
    margin-left: 2.6rem;
}

.cta-link:hover {
    border-bottom: 2px solid #66bbff;
}

.cta-link i {
    font-size: 1.5rem;
}

/* iphone-11 */

.iphone-11 {
    background: url(../images/hero/iphone-11/iphone_11_large.jpg);
}



.cta-link-darker {
    color: #0070c9;
}

.cta-link-darker:hover {
    border-bottom: 2px solid #0070c9;
}

.watch {
    background: url(../images/hero/watch/watch_large.jpg) center no-repeat;
}

.title-heading-watch {
    height: 7.8rem;
    background: url(../images/hero/watch/logo_watch_medium.png) center no-repeat;
    background-size: auto 7.8rem;
    margin-top: 1.6rem;
}

/* moved to bottom of all secions styles */
.hero {

    height: 69.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 73.6rem;
    border-top: .6rem solid white;
    border-bottom: .6rem solid white;
}

.title-darker {
    color: black;
}

.iphone-11-pro {
    border-top: none;
}

/* end */

@media screen and (max-width: 1068px) {

    .iphone-11-pro {
        background: url("../images/hero/iphone-11-pro/iphone_11_pro_medium.jpg");
    }

    .iphone-11 {
        background: url("../images/hero/iphone-11/iphone_11_medium.jpg");
    }

    .watch {
        background: url("../images/hero/watch/watch_medium.jpg");
    }

    .hero {
        height: 65rem;
        background-size: auto 69.8rem;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    .title-heading {
        font-size: 4.4rem;
    }

    .title-sub-heading {
        font-size: 2.4rem;
    }

    .cta-link:nth-child(2) {
        margin-left: 2rem;
    }

    .title-heading-watch {
        height: 6.2rem;
        background: url("../images/hero/watch/logo_watch_medium.png") center no-repeat;
        background-size: auto 6.2rem;
    }
}

@media screen and (max-width: 767px) {
    header {
        height: 4.8rem;
        transition: background .36s cubic-bezier(.32, .08, .24, 1), height .56s cubic-bezier(.32, .08, .24, 1);
    }

    header .container {
        padding: 0;
    }

    .hdfc {
        padding-top: 5rem;
        height: 5rem;
        padding-bottom: .5rem;
    }

    .nav-list-larger {
        display: none;
    }

    .nav-list {
        margin-top: 0;
    }

    .nav-list-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 16rem;
    }

    .nav-item {
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item-hidden {
        display: none;
    }

    .mobile-menu {
        position: relative;
        z-index: 15000000;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line {
        position: absolute;
        width: 1.7rem;
        height: 1px;
        background: #fff;
    }

    .line-top {
        margin-top: 12px;
    }

    .line-bottom {
        margin-top: -.4rem; 
    }
}